<!-- start header -->
{% extends "base.html" %}

{% block content %}
<!-- section start -->
 <section>
    <div class="container-flue">
        <div class="container bg-warning">
            <div class="row">
                <div class="col-lg-6 p-5 m-5 "><img src="https://d38b044pevnwc9.cloudfront.net/cutout-nuxt/enhancer/2.jpg"></div>
                <div class="col-lg-6 p-5 m-5 "><img src="https://media.springernature.com/lw703/springer-static/image/art%3A10.1038%2F528452a/MediaObjects/41586_2015_Article_BF528452a_Figg_HTML.jpg"</div>
            </div>
        </div>
    </div>
 </section>
{% endblock %}



 